.content{
    flex:1;
    color: white;
    .imgcontent{
        width: 100%;
        height: auto;
    }
    p{
        font-size: var(--font-size-main);
    }
    .draftwern{
        font-size:xx-large;
        width: 100%;
        text-align: center;
        background-color: yellow;
        color: red;
    }
}