.desc{
    padding: 8px;
    color: white;
    overflow: hidden;
    .descimg{
        border-radius: 12px;
        overflow: hidden;
        padding-bottom: 2px;
        width: 100%;
        height: auto;
    }
    .title{
        font-size: large;
        word-break: initial;
    }
}